

/* OLD */


/* body {
    background-color: #121212;
}

#scroll-down-animation {
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    animation: fadeIn 4s ease-in-out forwards;
}

h2 {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin-top: 1rem;
}

.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 70px;
    width: 35px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, 10px);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 80px);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    h2 {
        font-size: 14px;
    }

    .mouse {
        height: 72.6px;
        width: 36.3px;
    }

    .move {
        height: 6px;
        width: 6px;
    }
} */